*{
    box-sizing: border-box;
}

#container{
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    max-width: 600px;
    margin: 50px auto;
    font-family: monospace;
    min-width: 200px;
    
}
#title{
    text-align: center;
}

button{
    width: 100%;
    height: 40px;
    font-size: 15px;
    border: 1px solid;
}

button:hover{
    background-color: rgb(128, 157, 167);
    color: white;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#copy{
    width: 100px;
    margin-left: 10px;
}

#jokes{
    font-size: 20px;
    overflow-wrap: break-word;
    min-height: 100px;
}

#category{
    padding: 5px;
}

button, #category{
    background-color: lightblue;
    font-weight: bold;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {

}